{
    "token": "Your bot token here",
    "stream": "http://comet.shoutca.st:8658/stream",
    "streamInfo": "wss://listen.moe/api/v2/socket",
    "ua": "2DFam Radio Bot",
    "owners": [
        "User ID who should have access to eval",
        "You can put multiples here"
    ],
}
